html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-size: 62.5%;
  font-family: "inter";
}

.container {
  max-width: 180rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12.8rem;
}

table {
  max-width: 100% !important;
}

thead {
  font-size: 1.6rem;
}

.form {
  max-width: 65rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 2.4rem;
  margin: 6.4rem auto;
  font-size: 1.6rem;

  border-radius: 1rem;
}

label {
  margin-bottom: 1rem;
}

.form input,
.form select {
  font-size: 1.6rem;
}

input:active {
  width: 100% !important;
}

.form-control {
  font-size: 1.6rem;
}

.form-div {
  display: flex;
  margin-top: 1.6rem;
  gap: 2.4rem;
}

.btn {
  font-size: 1.6rem;
}

.add-btn {
  margin-top: 2.4rem;
}

.btn-div {
  display: flex;
  justify-content: center;
}

td {
  font-size: 1.6rem;
}

.form-control,
.form-select {
  overflow: auto !important;
}
