html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-size: 62.5%;
  font-family: "inter";
}

.header {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 2.4rem;
  padding: 2.4rem;
  background-color: azure;
}

.header-title {
  font-size: 3.4rem;
}

.container {
  max-width: 180rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12.8rem;
}

.div-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.4rem;
}

.div-title h1 {
  font-size: 3.4rem;
}

.group-names {
  display: flex;
  gap: 2.4rem;
  justify-content: center;
  padding: 2.4rem;
  background-color: azure;
}

.group-names p {
  font-size: 2.4rem;
  font-weight: 500;
}

body {
  background-color: #d0ebff;
}

table {
  max-width: 100% !important;
}

thead {
  font-size: 1.6rem;
}

.form-add {
  max-width: 75rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 2.4rem;
  margin: 6.4rem auto;
  font-size: 1.6rem;

  border-radius: 1rem;
}

label {
  margin-bottom: 1rem;
  font-weight: 500;
}

.form-add input,
.form-add select {
  font-size: 1.6rem;
}

input:active {
  width: 100% !important;
}

.form-control {
  font-size: 1.6rem;
}

.form-div {
  display: flex;
  margin: 1.6rem 0rem;
  gap: 5.2rem;
  justify-content: center;
}

.btn {
  font-size: 1.6rem;
}

.add-btn {
  margin-top: 2.4rem;
}

.btn-div {
  display: flex;
  justify-content: center;
}

td {
  font-size: 1.6rem;
}

.form-control,
.form-select {
  overflow: auto !important;
}

/* Leave list */

.leave-list-container {
  margin: 2.4rem 3.2rem;
  margin-top: 0rem;
  padding: 1rem;
  display: none;
}

.leave-modal-container,
.signatories-modal-container {
  min-width: 50rem;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  font-size: 2.4rem;
  font-weight: 500;
  z-index: 10;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  border: 1px black solid;
  border-radius: 1rem;
  background-color: azure;

  display: none;
}

.overlay {
  width: 100vw;
  height: 100vh;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(2px);
  display: none;
}

.modal-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;
}

.leave-modal-container h1,
.signatories-modal-container h1 {
  font-size: 4.2rem;
  font-weight: 500;
}

.leave-modal-container input,
.signatories-modal-container input {
  font-size: 2.4rem;
}

.leave-modal-container select,
.signatories-modal-container select {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}

.exit-modal {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.leave-modal button {
  font-size: 2.4rem;
}

/* Signatories */
.signatories-list-container {
  display: none;
  margin: 2.4rem 3.2rem;
}
